doctype html
html(lang="en")

head


    title home
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" , content="IE=edge")
    meta(name="viewport" , content="width=device-width , initial-scale=1")
    meta(name="description" , content="")
    meta(name="author" , content="")

    link(href='css/bootstrap.min.css', rel='stylesheet')

    link(href='css/agency.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet' )
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet' )
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' ,rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' ,rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet')


body(class="index" , id="page-top")


    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")

            div(class="navbar-header page-scroll")
                button(class="navbar-toggle" , type="button" , data-toggle="collapse" , data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a(class="navbar-brand page-scroll" , href="#page-top") Jhansal India
            div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav navbar-right")
                    li(class="hidden")
                        a(href='#page-top')
                     li
                        a(class='page-scroll' , href='/') Home
                     li
                        a(class='page-scroll' , href='#services') Services
                     li
                        a(class='page-scroll' , href="#gallery") Gallery
                     li
                        a(class='page-scroll' , href="#about") About
                     li
                        a(class='page-scroll' , href="#team") Team
                     li
                        a(class='page-scroll' , href="#contact") Contact
                     li
                        a(class='page-scroll' , id="myBtn") Login


  header
      div(class="container")
          div(class="intro-text")
              div(class="intro-lead-in") Welcome To Our Jhansal Web!
                div(class="intro-heading") It's Nice To Meet You
              a(href="#services" , class="page-scroll btn btn-xl") Tell Me More



    section(id="services")
            div(class="container")
                                div(class="row")
                                    div(class="col-lg-12 text-center")
                                        h2(class="section-heading") Services
                                        h3(class="section-subheading text-muted") More about service and facility in our village jhansal.

                                div(class="row text-center")
                                    div(class="col-md-4")
                                      a(href="/schools")
                                      span(class="fa-stack fa-4x")
                                            i(class="fa fa-circle fa-stack-2x text-primary")
                                            i(class="fa fa-graduation-cap fa-stack-1x fa-inverse")

                                        h4(class="service-heading") Schools
                                        p(class="text-muted") Schools and student details.

                                    div(class="col-md-4")
                                      a(href="/healthcare")
                                        span(class="fa-stack fa-4x")
                                            i(class="fa fa-circle fa-stack-2x text-primary")
                                            i(class="fa fa-medkit fa-stack-1x fa-inverse")

                                        h4(class="service-heading") Health Care
                                        p(class="text-muted") Govt Hospital , aushdhalaya's and Health care center.

                                    div(class="col-md-4")
                                      a(href="/grampanchayat")
                                        span(class="fa-stack fa-4x")
                                            i(class="fa fa-circle fa-stack-2x text-primary")
                                            i(class="fa fa-legal fa-stack-1x fa-inverse")

                                        h4(class="service-heading") Gram panchayat
                                        p(class="text-muted") Gram panchayat jhansal details


        section(id="gallery" , class="bg-light-gray")
                div(class="container")
                            div(class="row")
                                  div(class="col-lg-12 text-center")
                                      h2(class="section-heading") Gallery
                                        h3(class="section-subheading text-muted") Pics of Heritages we have.

                                        div(class="row")

                                            div(class="col-md-4 col-sm-6 portfolio-item")
                                                a(href="#1" , class="portfolio-link" , data-toggle="modal")
                                                    div(class="portfolio-hover")
                                                        div(class="portfolio-hover-content")


                                                    img(src="img/about/4.jpg" , class="img-responsive" alt="")

                                                div(class="portfolio-caption")
                                                    h4 Heading of pic
                                                    p(class="text-muted") Description of Pic




      section(id="about")
                div(class="container")
                    div(class="row")
                          div(class="col-lg-12 text-center")
                              h2(class="section-heading") About
                             h3(class="section-subheading text-muted") History of Jhansal.

                                        div(class="row")
                                            div(class="col-lg-12")
                                                ul(class="timeline")
                                                    li
                                                        div(class="timeline-image")
                                                          a(href="/img/about/1.jpg")
                                                          img(class="img-circle img-responsive" , src="img/about/1.jpg" , alt="")

                                                        div(class="timeline-panel")
                                                            div(class="timeline-heading")
                                                                h4(class="subheading") Our Humble Beginnings

                                                            div(class="timeline-body")
                                                                p(class="text-muted") According to Thakur Deshraj[2] it was capital of Puniya republic prior to Annexation of it by Rathores in
                                                                  Jangladesh region of Rajasthan.Following is history mentioned by Thakur Deshraj "The Puniyas are Naga clans,
                                                                  and Punia is derived from Naga. The Hissar Gazetteer says that they consider themselves to be of the Shiva
                                                                  Gotr (clan) and Following the invasion by Sikandar(Alexander) some of the Shivi and Takshak clans came down
                                                                  below Punjab. The Puniyas too arose of such Jat groups who established their hold on a country and utilized
                                                                  for a very long time. They reached Jangal Pradesh by the time of commencement of the Christian era ,current
                                                                  era. They governed this land upto the 15th century CE.!</p>

                                                    li(class="timeline-inverted")
                                                        div(class="timeline-image")
                                                          a(href="img/about/2.jpg")
                                                            img(class="img-circle img-responsive" , src="img/about/2.jpg" , alt="")

                                                        div(class="timeline-panel")
                                                            div(class="timeline-heading")
                                                                h4(class="subheading") Jhansal Uday

                                                            div(class="timeline-body")
                                                                p(class="text-muted") At the time of the arrival of the group of the Rathors under Bika and Kaandal,
                                                                   the Punia Sardars or chieftains had 300 villages under their sway. They had been independent from many generations.
                                                                   In addition they had six other republics of the Jats in Jangal Pradesh. At that time, the capital was Jhansal,
                                                                   which is on the boundary of modern Hissar. Ram Ratan Charan calls this capital as Luddi in his book.!</p>

                                                      li

                                                        div(class="timeline-image")
                                                          a(href="img/about/3.jpg")
                                                            img(class="img-circle img-responsive" , src="img/about/3.jpg" , alt="")

                                                        div(class="timeline-panel")
                                                            div(class="timeline-heading")
                                                                h4(class="subheading") Transition Phase

                                                            div(class="timeline-body")
                                                                p(class="text-muted")
                                                                  Their Raja was Kanhadev was a great leader and a fearless warrior who could never be defeated.
                                                                  His Puniya society had unity. Every Puniya citizen considered the whole republic as of his own.
                                                                  They would not tolerate a person from another community to rule over theso they refuse to accept rule by Bika.
                                                                  They kept fighting for their independence as long as they had young men who could come to the force.
                                                                  The Rahtors managed to take control of their homesteads one at a time. In the end the Rahtors constructed forts in the middle of their lands.
                                                                  The folk traditions state that some Puniyas were buried alive in the walls of some of these forts.
                                                                  After much struggle the Puniyas were defeated. Some of them then migrated towards the United Provinces (modern Uttar Pradesh).
                                                                  The Rahtors had a big army, the Godara Jats also gave them their assistance. That is why the Puniyas lost.
                                                                  It was , however, a matter of pride, that seeking to protect their Independence, they never showed cowardice.
                                                                  Rivers of blood were flowed by them. In revenge for the ill treatment of the leaders by the enemy,
                                                                  they defeated and took prisoner and killed the Rathor King Rai Singh.</p>

                                                    li(class="timeline-inverted")
                                                        div(class="timeline-image")
                                                          a(href="img/about/4.jpg")
                                                            img(class="img-circle img-responsive" , src="img/about/4.jpg" , alt="")

                                                        div(class="timeline-panel")
                                                            div(class="timeline-heading")
                                                                h4(class="subheading") Phase Two Expansion

                                                            div(class="timeline-body")
                                                                p(class="text-muted")
                                                                  The republic of the Puniyas spread from Jhansal (on the boundary of Modern Hissar, to Marod. Marod is 12 kos south of Rajgarh.
                                                                  The folk legends tell us, that one Sadhu told a Puniya leader,
                                                                  that whatever land he could cover on a mare, that will be governed by the Puniyas.
                                                                  The Mare was let loose and at Sunset , she reached Marod and died. At that time the Puniyas Sardar (chieftain) said:
                                                                  The journey from Jhansal ended at Marodh. The mare died but no regret.”
                                                                  Traces of the old capital of the Puniyas, Jhansal where there was their fort,
                                                                  can still be found. Such traces are also still found in Balsamand.
                                                                  Jhansal village in Bhadra tehsil of Hanumangarh district in Rajasthan, India.
                                                                  It is located in north eastern corner of the district adjoining Haryana border.
                                                                  It is about 20 km in north-east of Bhadra (Hanumangarh) on Bhadra-Hisar road.
                                                                  As of 2001 census its population is 5389!!</p>

                                                    li(class="timeline-inverted")
                                                        div(class="timeline-image")
                                                            h4 Be Part
                                                                </br> Of Our
                                                                </br> Story!

            div(class="modal fade" , id="myModal" , role="dialog")
                  div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-header")
                          button(type="button" , class="close" , data-dismiss="modal") &times;
                          h4(style="color:green")
                            span(class="glyphicon glyphicon-lock") Login


                        div(class="modal-body")
                          form(role="form" , action="/login" , method="post")
                              div(class="form-group")
                                label(for="usrname")
                                span(class="glyphicon glyphicon-user") Username
                                input(type="text" , class="form-control" , id="usrname" , name="email" , placeholder="Enter email")
                              div(class="form-group")
                                label(for="psw")
                                span(class="glyphicon glyphicon-eye-open") Password
                                input(type="text" , class="form-control" , id="psw" , name="password" , placeholder="Enter password")

                              div(class="checkbox")
                              input(type="checkbox" , value="" )
                              label Remember me
                              button(type="submit" , class="btn btn-default btn-success btn-block")
                                        span(class="glyphicon glyphicon-off") Login

                              div(class="modal-footer")
                                button(type="submit" , class="btn btn-default btn-default pull-left" , data-dismiss="modal")
                                 span(class="glyphicon glyphicon-remove") Cancel
                                p Not a member?
                                     a(href="#") Sign Up
                                p Forgot
                                    a(href="#") Password?






    script(src="js/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="js/classie.js")
    script(src="js/cbpAnimatedHeader.js")
   script(src="js/bootstrap.js")
script.

    function setatt(image,head,details){

      var asd=document.getElementById("set_image");
      asd.setAttribute("src",image);
      document.getElementById("set_headtext").innerHtml =head;

      document.getElementById("set_detail").innerHtml =details;

    }
script.
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal();
        });
    });
